services:

  phpmyadmin:
    image: phpmyadmin:5.2
    platform: linux/arm64
    container_name: phpmyadmin
    restart: always
    env_file:
      - ./.env
    environment:
      PMA_HOST: ${MYSQL_HOST}
      PMA_PORT: ${MYSQL_PORT}
      APACHE_PORT: 7000
    network_mode: host

  mysql:
    image: mariadb:10.7
    platform: linux/arm64
    container_name: mysql
    restart: always
    env_file:
      - ./.env
    network_mode: host
    volumes:
      - mysql:/var/lib/mysql

  mqtt:
    image: eclipse-mosquitto
    platform: linux/arm64
    container_name: mqtt
    restart: always
    network_mode: host
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf

  touchon:
    image: 178.57.106.190:5000/touchon:1.6.3-jethome
    env_file:
      - ./.env
    container_name: touchon
    restart: always
    depends_on:
      - mysql
    volumes:
      - ./userscripts:${WORK_DIR}/server/userscripts
      - ./backups:${WORK_DIR}/backups
      - ~/.hostpipe:${WORK_DIR}/.hostpipe
      - ~/.dockerpipe:${WORK_DIR}/.dockerpipe
      - /etc/network/interfaces.d/netcfg:/etc/network/interfaces.d/netcfg
    network_mode: host
    privileged: true

volumes:
  mysql:
